html, body {
    height: 100%;
    margin: 0;
}

body,
.social-hole {
    background: #ffffff;
}

/* FONTS */
@font-face {
    font-family: "Regular";
    src: url(fonts/PFDinDisplayPro-Reg.ttf) format("truetype");
}

.content {
    height: 600px;
    background-color: #ffffff;
    overflow: hidden;
}

.info-text {
    position: relative;
    display: block;
    width: 40%;
    left: -35px;
    top: -80px;
    margin: 0 auto;
    font-family: "Regular";
    font-size: 1.1em;
}

.info-text span {
    display: block;
    text-align: center;
}

.balloon {
    position: relative;
    float: right;
    width: 250px;
    height: 150px;
    top: -100px;
    margin-right: 480px;
    background: url("images/baloon.png") no-repeat center;
    background-size: auto 140px;
}

.logo-hole, .add-idea-hole,.social-hole {
    width: 200px;
    height: 200px;
    border: 1px solid #D1D1D1;
    -moz-box-shadow: inset 0 0 15px #FDFCFC,0px 0px 22px 2px #C0BCBC,inset 2px 2px 12px 1px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 0 0 15px #FDFCFC,0px 0px 22px 2px #C0BCBC,inset 2px 2px 12px 1px rgba(0, 0, 0, .4);
    box-shadow: inset 0 0 15px #FDFCFC,0px 0px 22px 2px #C0BCBC,inset 2px 2px 12px 1px rgba(0, 0, 0, .4);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
 }

.logo-hole {
    position: relative;
    top: 10px;
    margin-left: 11%;
    background: url("images/hole_logo.png");
}

.add-idea-hole {
    position: relative;
    float: right;
    top: -25px;
    margin-right: 17%;
    background: url("images/hole_add_idea.png");
}

.social-hole {
    position: absolute;
    left: 340px;
    top: 395px;
    margin-bottom: 5px;
    background: url("images/hole_social.png");
}

.social-container {
    display: block;
    position: absolute;
    left: 375px;
    top: 495px;
    height: 50px;
    margin-bottom: 57px;
}

.social-item {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.facebook-icon {
    background: url("images/facebook_icon.png") no-repeat center;
    background-size: auto 30px;
}

.vk-icon {
    background: url("images/vk_icon.png") no-repeat center;
    background-size: auto 30px;
}

.twitter-icon {
    background: url("images/twitter_icon.png") no-repeat center;
    background-size: auto 30px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1080px) {

    .content {
        height: 800px;
    }

    .balloon {
        display: none;
    }

    .add-idea-hole{
        display: none;
    }

    .info-text {
        width: 80%;
        left: 0;
        top: 30px;
    }

    .social-hole {
        position: relative;
        left: 50%;
        top: 20px;
    }

    .social-container {
        position: relative;
        left: 50%;
        top: -82px;
        margin-left: 36px;
    }
}

@media screen and (max-width: 400px) {

    .social-hole {
        left: 25%;
    }

    .social-container {
        left: 25%;
    }
}
